<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OSULab</title>
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@1.27.0/build/global/luxon.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon"></script>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
    <style>
        .color-indicator {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            margin-top: 10px;
            border: 1px solid rgba(255, 255, 255, 0.1); /* okraj kolečka */
        }

        .color-indicator::before {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    </style>
</head>
<body class="bg-dark text-white font-nunito text-[16px]">

    <!--NAVIGACE-->
    <nav class="flex flex-col md:flex-row justify-between items-center border-b border-white10 fixed bg-dark w-full z-50 py-4 px-[40px]">
        <div class="md:hidden flex self-end w-full justify-end">
            <button id="menu-button" class="text-gray focus:outline-none">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
                </svg>
            </button>
        </div>
        <ul id="menu" class="hidden md:flex md:gap-5 text-gray md:items-center">
            <a class="hover:text-white hover:bg-white10 transition-all ease-in-out py-[2px] px-[12px] rounded-[6px]" href="/"><li>Domů</li></a>
            <a class="hover:text-white hover:bg-white10 transition-all ease-in-out py-[2px] px-[12px] rounded-[6px]" href="/#zapojení"><li>Jak to funguje?</li></a>
            <a class="hover:text-white hover:bg-white10 transition-all ease-in-out py-[2px] px-[12px] rounded-[6px]" href="/#teorie"><li>Jak to funguje?</li></a>
        </ul>
        <a class="hover:text-white hidden md:flex py-[2px] px-[20px] bg-dark border-[1px] border-white10 rounded-[12px] items-center md:text-[16px] w-fit text-gray transition duration-150 ease-in-out hover:bg-white10" href="/dokumentace">Dokumentace</a>
        <ul id="mobile-menu" class="hidden flex flex-col items-start self-start gap-4 py-[20px] text-gray bg-dark md:hidden">
            <a class="hover:text-white hover:bg-white10 transition-all ease-in-out py-[2px] px-[12px] rounded-[6px]" href="/"><li>Domů</li></a>
            <a class="hover:text-white hover:bg-white10 transition-all ease-in-out py-[2px] px-[12px] rounded-[6px]" href="/#zapojení"><li>Jak to funguje?</li></a>
            <a class="hover:text-white hover:bg-white10 transition-all ease-in-out py-[2px] px-[12px] rounded-[6px]" href="/#teorie"><li>Jak to funguje?</li></a>
            <a class="hover:text-white py-[2px] mt-[20px] px-[20px] bg-dark border-[1px] border-white10 rounded-[12px] items-center md:text-[16px] w-fit text-gray transition duration-150 ease-in-out hover:bg-white10" href="/dokumentace">Dokumentace</a>
        </ul>
    </nav>

    <div class="pt-[100px] gap-[40px]">
        <!--EXPERIMENT-->
        <div class="flex flex-col pb-[40px] px-[20px] md:px-[40px] items-center scroll-m-[40px]" id="about-me">
            <div class="flex flex-col p-[40px] gap-[40px] border-[1px] border-white10 rounded-[20px] w-[1000px] max-w-full items-start">
                <div class="flex flex-col gap-[10px]">
                    <h2 class="text-[24px]">Měření napětí na foto-součástkách</h2>
                </div>
                <div style="height: 400px; width: 100%;">
                    <canvas id="light-sensor-chart" width="400" height="200"></canvas>
                </div>
                    <div id="current-values" class="border-[1px] border-white10 rounded-[12px] p-[20px] text-gray w-[100%]">
                        <p class="text-[#4BC0C0]">U1 [mV]: <span id="u1-value">-</span> mV</p>
                        <p class="text-[#C04B4B]">U2 [mV]: <span id="u2-value">-</span> mV</p>
                        <p class="text-[#4B4BC0]">U3 [mV]: <span id="u3-value">-</span> mV</p>
                        <div class="color-indicator"></div>
                    </div>
                    <!-- RGB Controls -->
                    <div class="border-[1px] border-white10 rounded-[12px] p-[20px] text-gray w-[100%] flex flex-col gap-[20px]" id="rgb-controls">
                        <h2 class="text-[24px]">Nastavení RGB LED</h2>
                        <div class="flex flex-col gap-[20px]">
                            <div class="flex flex-row gap-[10px]">
                                <label for="red-value">Červená:</label>
                                <input class="bg-dark border-[1px] border-white10 rounded-[6px] px-[10px] no-spinners" type="number" id="red-value" min="0" max="255" value="0">
                            </div>
                            <div class="flex flex-row gap-[10px]">
                                <label for="green-value">Zelená:</label>
                                <input class="bg-dark border-[1px] border-white10 rounded-[6px] px-[10px]" type="number" id="green-value" min="0" max="255" value="0">
                            </div>
                            <div class="flex flex-row gap-[10px]">
                                <label for="blue-value">Modrá:</label>
                                <input class="bg-dark border-[1px] border-white10 rounded-[6px] px-[10px]" type="number" id="blue-value" min="0" max="255" value="0">
                            </div>
                        </div>
                        <button id="set-rgb-btn" class="text-gray hover:text-white hover:bg-white10 transition duration-150 ease-in-out py-[2px] px-[20px] border-[1px] border-white10 rounded-[12px]">Nastavit RGB</button>
                    </div>
                    <div class="flex flex-col gap-[20px]">
                        
                        <div class="flex flex-row gap-0">
                            <button id="pause-btn" class="text-gray hover:text-white hover:bg-white10 transition duration-150 ease-in-out py-[2px] px-[20px] border-[1px] border-white10 rounded-[12px]">PAUSE</button>
                            <button id="play-btn" style="display: none;" class="text-gray hover:text-white hover:bg-white10 transition duration-150 ease-in-out py-[2px] px-[20px] border-[1px] border-white10 rounded-[12px]">PLAY</button>
                        </div>
                    </div>
                <a class="hover:text-white py-[2px] mt-[20px] px-[20px] bg-dark border-[1px] border-white10 rounded-[12px] items-center md:text-[16px] w-fit text-gray transition duration-150 ease-in-out hover:bg-white10" href="/svetelne-cidlo">O experimentu</a>
            </div>
        </div>
    </div>

<script>
const ctx = document.getElementById('light-sensor-chart').getContext('2d');
const maxDataPoints = 50; // Maximální počet bodů v grafu
let isPaused = false;

const myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [],
        datasets: [{
            label: 'U1 [mV]',
            data: [],
            borderColor: 'rgba(75, 192, 192, 1)',
            borderWidth: 1,
            pointRadius: 0,
            cubicInterpolationMode: 'monotone',
        }, {
            label: 'U2 [mV]',
            data: [],
            borderColor: 'rgba(192, 75, 75, 1)',
            borderWidth: 1,
            pointRadius: 0,
            cubicInterpolationMode: 'monotone'
        }, {
            label: 'U3 [mV]',
            data: [],
            borderColor: 'rgba(75, 75, 192, 1)',
            borderWidth: 1,
            pointRadius: 0,
            cubicInterpolationMode: 'monotone'
        }]
    },
    options: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
            x: {
                type: 'time',
                time: {
                    unit: 'second'
                },
                ticks: {
                    maxTicksLimit: 10
                }
            },
            y: {
                beginAtZero: true
            }
        },
        animation: false
    }
});

const socket = io('http://127.0.0.1:5000');

socket.on('connect', function() {
    console.log('Connected to server');
});

let startTime = Date.now();

socket.on('data', function(data) {
    if(!isPaused){
        const now = Date.now();
        const elapsedTime = (now - startTime) / 1000; // Čas v sekundách

        myChart.data.labels.push(now);
        myChart.data.datasets[0].data.push({x: now, y: data[0]});
        myChart.data.datasets[1].data.push({x: now, y: data[1]});
        myChart.data.datasets[2].data.push({x: now, y: data[2]});

        // Omezení počtu bodů v grafu
        if (myChart.data.labels.length > maxDataPoints) {
            myChart.data.labels.shift();
            myChart.data.datasets.forEach(dataset => dataset.data.shift());
        }

        // Nastavení rozsahu osy x
        const oldestDataPoint = myChart.data.labels[0];
        myChart.options.scales.x.min = oldestDataPoint;
        myChart.options.scales.x.max = now;

        myChart.update();

        // Aktualizace aktuálních hodnot
        document.getElementById('u1-value').textContent = data[0];
        document.getElementById('u2-value').textContent = data[1];
        document.getElementById('u3-value').textContent = data[2];
    }
});

document.getElementById('pause-btn').addEventListener('click', function() {
    isPaused = true;
    this.style.display = 'none';
    document.getElementById('play-btn').style.display = 'inline';
});

document.getElementById('play-btn').addEventListener('click', function() {
    isPaused = false;
    this.style.display = 'none';
    document.getElementById('pause-btn').style.display = 'inline';
});

document.getElementById('set-rgb-btn').addEventListener('click', function() {
    const r = document.getElementById('red-value').value;
    const g = document.getElementById('green-value').value;
    const b = document.getElementById('blue-value').value;
    setRGB(r, g, b);
});

function updateColorIndicator(r, g, b) {
        const colorIndicator = document.querySelector('.color-indicator');
        colorIndicator.style.backgroundColor = `rgb(${r}, ${g}, ${b})`;
    }

function setRGB(r, g, b) {
    console.log('Setting RGB values:', {r, g, b});
    socket.emit('set_rgb', { r, g, b });
    updateColorIndicator(r, g, b);
}

socket.on('disconnect', function() {
    console.log('Disconnected from server');
});
</script>
</body>
</html>