<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OSULab</title>
    <!-- Importování knihoven socket.io, Chart.js a luxon pro práci s grafy a časem -->
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@1.27.0/build/global/luxon.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon"></script>
    <!-- Importování CSS stylů -->
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
</head>
<body class="bg-dark text-white font-nunito text-[16px]">

    <!--NAVIGACE-->
    <nav class="flex flex-col md:flex-row justify-between items-center border-b border-white10 fixed bg-dark w-full z-50 py-4 px-[40px]">
        <!-- Mobilní tlačítko pro zobrazení menu -->
        <div class="md:hidden flex self-end w-full justify-end">
            <button id="menu-button" class="text-gray focus:outline-none">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
                </svg>
            </button>
        </div>
        <!-- Menu položky pro desktop -->
        <ul id="menu" class="hidden md:flex md:gap-5 text-gray md:items-center">
            <a class="hover:text-white hover:bg-white10 transition-all ease-in-out py-[2px] px-[12px] rounded-[6px]" href="#experiment"><li>Experiment</li></a>
            <a class="hover:text-white hover:bg-white10 transition-all ease-in-out py-[2px] px-[12px] rounded-[6px]" href="#teorie"><li>Teorie</li></a>
        </ul>
        <!-- Odkaz na dokumentaci -->
        <a class="hover:text-white hidden md:flex py-[2px] px-[20px] bg-dark border-[1px] border-white10 rounded-[12px] items-center md:text-[16px] w-fit text-gray transition duration-150 ease-in-out hover:bg-white10" target="_blank" href="https://github.com/jpanzen/dipro-app-mono/tree/Trafo">Dokumentace</a>
        <!-- Menu položky pro mobil -->
        <ul id="mobile-menu" class="hidden flex flex-col items-start self-start gap-4 py-[20px] text-gray bg-dark md:hidden">
            <a class="hover:text-white hover:bg-white10 transition-all ease-in-out py-[2px] px-[12px] rounded-[6px]" href="#experiment"><li>Experiment</li></a>
            <a class="hover:text-white hover:bg-white10 transition-all ease-in-out py-[2px] px-[12px] rounded-[6px]" href="#teorie"><li>Teorie</li></a>
            <a class="hover:text-white py-[2px] mt-[20px] px-[20px] bg-dark border-[1px] border-white10 rounded-[12px] items-center md:text-[16px] w-fit text-gray transition duration-150 ease-in-out hover:bg-white10" target="_blank" href="https://github.com/jpanzen/dipro-app-mono/tree/Trafo">Dokumentace</a>
        </ul>
    </nav>

    <div class="pt-[100px] gap-[40px]">
        <!-- Experimentální část -->
        <div class="flex flex-col pb-[40px] px-[20px] md:px-[40px] items-center scroll-m-[40px]" id="experiment">
            <div class="flex flex-col p-[40px] gap-[40px] border-[1px] border-white10 rounded-[20px] w-[1000px] max-w-full items-start">
                <div class="flex flex-col gap-[10px]">
                    <h2 class="text-[24px]">Měření napětí na transformátoru</h2>
                </div>
                <!-- Graf pro zobrazení měření napětí -->
                <div style="height: 400px; width: 100%;">
                    <canvas id="light-sensor-chart" width="400" height="200"></canvas>
                </div>
                <!-- Zobrazení aktuálních hodnot -->
                <div id="current-values" class="border-[1px] border-white10 rounded-[12px] p-[20px] text-gray w-[100%]">
                    <p class="text-[#4BC0C0]">Uin: <span id="uin-value">-</span> V</p>
                    <p class="text-[#C04B4B]">Uout: <span id="uout-value">-</span> V</p>
                    <p class="text-[#4B4BC0]">Iout: <span id="proud1-value">-</span> mA</p>
                    <p class="text-[#C0C04B]">Iin: <span id="proud2-value">-</span> mA</p>
                    <p>Závity: <span id="coil">200</span></p>
                    <p>Zátěž: <span id="load">R0</span></p>
                </div>
                <!-- Ovládání zátěže a vinutí -->
                <div class="flex flex-col gap-[20px]">
                    <div class="flex flex-row gap-0">
                        <button onclick="setState(1)" class="text-gray hover:text-white hover:bg-white10 transition duration-150 ease-in-out py-[2px] pl-[20px] pr-[10px] border-[1px] border-white10 rounded-l-[12px]">200z</button>
                        <button onclick="setState(2)" class="text-gray hover:text-white hover:bg-white10 transition duration-150 ease-in-out py-[2px] px-[10px] border-[1px] border-white10">400z</button>
                        <button onclick="setState(3)" class="text-gray hover:text-white hover:bg-white10 transition duration-150 ease-in-out py-[2px] pr-[20px] pl-[10px] border-[1px] border-white10 rounded-r-[12px]">600z</button>
                    </div>
                    <div class="flex flex-row gap-0">
                        <button onclick="setState(4)" class="text-gray hover:text-white hover:bg-white10 transition duration-150 ease-in-out py-[2px] pl-[20px] pr-[10px] border-[1px] border-white10 rounded-l-[12px]">R0 (Na prázdno)</button>
                        <button onclick="setState(5)" class="text-gray hover:text-white hover:bg-white10 transition duration-150 ease-in-out py-[2px] px-[10px] border-[1px] border-white10">R1 (400)</button>
                        <button onclick="setState(6)" class="text-gray hover:text-white hover:bg-white10 transition duration-150 ease-in-out py-[2px] px-[10px] border-[1px] border-white10">R2 (580)</button>
                        <button onclick="setState(7)" class="text-gray hover:text-white hover:bg-white10 transition duration-150 ease-in-out py-[2px] pr-[20px] pl-[10px] border-[1px] border-white10 rounded-r-[12px]">R3 (237)</button>
                    </div>
                    <!-- Tlačítka pro pauzu a pokračování -->
                    <div class="flex flex-row gap-0">
                        <button id="pause-btn" class="text-gray hover:text-white hover:bg-white10 transition duration-150 ease-in-out py-[2px] px-[20px] border-[1px] border-white10 rounded-[12px]">PAUSE</button>
                        <button id="play-btn" style="display: none;" class="text-gray hover:text-white hover:bg-white10 transition duration-150 ease-in-out py-[2px] px-[20px] border-[1px] border-white10 rounded-[12px]">PLAY</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="pt-[60px] gap-[40px]">
        <!-- Teoretická část -->
        <div class="flex flex-col pb-[40px] px-[20px] md:px-[40px] items-center scroll-m-[40px] text-gray" id="teorie">
            <div class="flex flex-col p-[40px] gap-[40px] border-[1px] border-white10 rounded-[20px] w-[1000px] max-w-full items-start">
                <h2 class="text-[24px]">Teorie</h2>
                <div class="gap-[20px] flex flex-col">
                    <p>Experiment na monitorování transformátoru se zaměřuje na měření primárního a sekundárního napětí a proudu, aby se analyzovalo chování transformátoru a jeho efektivita při různých nastaveních. Transformátor je zařízení s dvěma cívkami, primární a sekundární, které umožňuje převod napětí mezi dvěma různými elektrickými obvody.</p>
                    <h3 class="text-[18px]">Jak funguje transformátor?</h3>
                    <p>Transformační poměr transformátoru je definován poměrem počtu závitů na primární a sekundární.</p>
                    <p>Obecně platí že U<sub>p</sub>/U<sub>s</sub> = N<sub>p</sub>/N<sub>s</sub> = I<sub>s</sub>/I<sub>p</sub>, kde index <sub>p</sub> nebo <sub>s</sub> znamená primární či sekundární vinutí, potažmo si můžeme představit sekundární či primární stranu obvodu.</p>
                    <h3 class="text-[18px]">Jaké veličiny můžeme sledovat?</h3>
                    <p>1. Primární napětí a proud <br>2. Sekundární napětí a proud <br>3.Fázový posun <br>4. Změna veličin na sekundární straně obvodu v závilosti na zátěži</p>
                </div>
            </div>
        </div>
    </div>

<script>
// Inicializace grafu s nastavením
const ctx = document.getElementById('light-sensor-chart').getContext('2d');
const maxDataPoints = 50; // Maximální počet bodů v grafu
let isPaused = false;

const myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [],
        datasets: [{
            label: 'Uin [V]',
            data: [],
            borderColor: 'rgba(75, 192, 192, 1)',
            borderWidth: 1,
            pointRadius: 0,
            cubicInterpolationMode: 'monotone',
        }, {
            label: 'Uout [V]',
            data: [],
            borderColor: 'rgba(192, 75, 75, 1)',
            borderWidth: 1,
            pointRadius: 0,
            cubicInterpolationMode: 'monotone'
        }, {
            label: 'Proud 1 [A]',
            data: [],
            borderColor: 'rgba(75, 75, 192, 1)',
            borderWidth: 1,
            pointRadius: 0,
            cubicInterpolationMode: 'monotone'
        }, {
            label: 'Proud 2 [A]',
            data: [],
            borderColor: 'rgba(192, 192, 75, 1)',
            borderWidth: 1,
            pointRadius: 0,
            cubicInterpolationMode: 'monotone'
        }]
    },
    options: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
            x: {
                type: 'time',
                time: {
                    unit: 'second'
                },
                ticks: {
                    maxTicksLimit: 10
                }
            },
            y: {
                beginAtZero: true
            }
        },
        animation: false
    }
});

// Připojení k socket serveru
const socket = io('http://127.0.0.1:5000');

// Akce po připojení k serveru
socket.on('connect', function() {
    console.log('Connected to server');
});

let startTime = Date.now();

// Příjem dat ze serveru
socket.on('data', function(data) {
    if(!isPaused){
        const now = Date.now();
        const elapsedTime = (now - startTime) / 1000; // Čas v sekundách

        // Přidání nových dat do grafu
        myChart.data.labels.push(now);
        myChart.data.datasets[0].data.push({x: now, y: data.Uin});
        myChart.data.datasets[1].data.push({x: now, y: data.Uout});
        myChart.data.datasets[2].data.push({x: now, y: data.proud1});
        myChart.data.datasets[3].data.push({x: now, y: data.proud2});

        // Omezení počtu bodů v grafu
        if (myChart.data.labels.length > maxDataPoints) {
            myChart.data.labels.shift();
            myChart.data.datasets.forEach(dataset => dataset.data.shift());
        }

        // Nastavení rozsahu osy x
        const oldestDataPoint = myChart.data.labels[0];
        myChart.options.scales.x.min = oldestDataPoint;
        myChart.options.scales.x.max = now;

        myChart.update();

        // Aktualizace aktuálních hodnot
        document.getElementById('uin-value').textContent = data.Uin.toFixed(2);
        document.getElementById('uout-value').textContent = data.Uout.toFixed(2);
        document.getElementById('proud1-value').textContent = data.proud1.toFixed(2);
        document.getElementById('proud2-value').textContent = data.proud2.toFixed(2);
    }
});

// Ovládání pauzy a pokračování
document.getElementById('pause-btn').addEventListener('click', function() {
    isPaused = true;
    this.style.display = 'none';
    document.getElementById('play-btn').style.display = 'inline';
});

document.getElementById('play-btn').addEventListener('click', function() {
    isPaused = false;
    this.style.display = 'none';
    document.getElementById('pause-btn').style.display = 'inline';
});

// Nastavení číselného stavu pro Arduino
function setState(state) {
    console.log('Sending state:', state);
    socket.emit('send_data', { data: state });
    // Aktualizace hodnot na panelu s hodnotami
    switch (state) {
        case 1:document.getElementById("coil").textContent="200";break;
        case 2:document.getElementById("coil").textContent="400";break;
        case 3:document.getElementById("coil").textContent="600";break;
        case 4:document.getElementById("load").textContent="Na prázdno";break;
        case 5:document.getElementById("load").textContent="400";break;
        case 6:document.getElementById("load").textContent="580";break;
        case 7:document.getElementById("load").textContent="237";break;
        default: console.log("Necekany vstup pro zmenu dat");break;
    }
}

// Akce po odpojení od serveru
socket.on('disconnect', function() {
    console.log('Disconnected from server');
});
</script>
</body>
</html>